.sidebar[b-bhrubtsxbl] {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h2[b-bhrubtsxbl] {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f1f1f1;
}

.sidebar ul[b-bhrubtsxbl] {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li[b-bhrubtsxbl] {
    margin: 15px 0;
}

.sidebar ul li a[b-bhrubtsxbl] {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.sidebar ul li a:hover[b-bhrubtsxbl],
.sidebar ul li.active-link a[b-bhrubtsxbl] {
    background-color: #1abc9c;
    color: white;
}
