/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gpe4wt3ro2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
   position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
}

a[b-gpe4wt3ro2] {
  color: #0077cc;
}

.btn-primary[b-gpe4wt3ro2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-gpe4wt3ro2], .nav-pills .show > .nav-link[b-gpe4wt3ro2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-gpe4wt3ro2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gpe4wt3ro2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gpe4wt3ro2] {
  box-shadow: 0 .25rem .75rem rgba(159, 98, 98, 0.05);
}

button.accept-policy[b-gpe4wt3ro2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gpe4wt3ro2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
